
/* Navigation */
#navbar {
    flex-direction: column;
}
#navbar ul li a {
    padding: 5px 5px;
    font-size: 1rem;
  }

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 10px 3%;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: white;
}

.box img{
    width: 200px;
    height: 150px;
}

.forms{
    flex-direction: column;
    padding: 0px;
    padding: 0px 2% 22px 2%;
}
#box-form {

    padding-right: 0px;
}

/* Utility */
.h-primary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Work Sans', sans-serif;;
}
.h-secondary{
    font-size: 1.2rem;
    padding: 12px;
    font-family: 'Work Sans', sans-serif;;
}
.p-primary{
    font-size: 1rem;
}
